.body {
  font-family: 'Oswald', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
  padding: 0 15px;
  &-center {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.text {

  &-center {
    text-align: center;
  }

}

